.env


scripts/pois_importer/.env
scripts/pois_importer/node_modules
scripts/populate_db/node_modules
scripts/populate_db/.env

# Database backups
backups/*
!backups/initial_data.tar.gz

.gemini/
gha-creds-*.json

# Python cache
__pycache__/
*.pyc


.env
.grepai/
